server {
               listen       ${PORT};
               server_name  localhost;
               location / {
                 proxy_pass      http://${VOTE_HOST}:${VOTE_PORT}/;
               }
              #  location /vote/ {
              #    proxy_pass      http://${VOTE_HOST}:${VOTE_PORT}/;
              #  }
}
